# Youtube requests
pytubefix==8.13.1
youtube-transcript-api==1.0.3

# Generating Gemini responses
google-genai==1.13.0
google-auth[pyopenssl]==2.40.1

# Needed for PDF generation
reportlab==4.4.0

# Misc
python-dotenv==1.1.0

